<!DOCTYPE html>
<html>
<head>
  <!-- TODO: customize title per action/template -->
  <title><%= yield(:title) %></title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="grey lighten-3">
  <header>

      <!-- Navbar -->
      <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
          <div class="container">

              <!-- Brand -->
              <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">
                  <strong class="blue-text">MDB</strong>
              </a>

              <!-- Collapse -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <!-- Links -->
              <div class="collapse navbar-collapse" id="navbarSupportedContent">

                  <!-- Left -->
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                          <a class="nav-link waves-effect" href="#">Home
                              <span class="sr-only">(current)</span>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link waves-effect" href="#" >About MDB</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link waves-effect" href="#" >Free download</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link waves-effect" href="#" >Free tutorials</a>
                      </li>
                  </ul>

                  <!-- Right -->
                  <ul class="navbar-nav nav-flex-icons">
                      <li class="nav-item">
                          <a href="#" class="nav-link border border-light rounded waves-effect"
                              target="_blank">
                              <i class="fa fa-github mr-2"></i>MDB GitHub
                          </a>
                      </li>
                  </ul>

              </div>

          </div>
      </nav>
      <!-- Navbar -->

  </header>
<div class="container">
  <%= yield %>
</div>
<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

    <div class="footer-copyright py-3">
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank"> MDBootstrap.com </a>
    </div>

</footer>

</body>
</html>
